* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

nav {
    height: 80px;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0px;
    margin-top: 0px;
    margin-left: 0px;
    z-index: 1000;
}

.log-btn {
    position: absolute;
    width: 250px;
    height: 50px;
    left: 1609px;
    top: 15px;
    background: #D9D9D9;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    cursor: pointer;
    line-height: 30px;
    color: #000000;
    text-align: center;
}

#log:checked ~ .logowanie{
    display: flex;
}

#log:checked ~ .log-btn {
    display: none;
}

input[type="checkbox"]{
    display: none;
}

.logowanie{
    display: none;
    height: 1000px;
    width: 100%;
    background: #000000;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #808080;
    width: 410px;
    padding: 50px;
    border-radius: 20px;
}

.container form .data {
    height: 40px;
    width: 100%;
    margin: 20px 0;
}

form.data label{
    font-size: large;
}

form.data input{
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 24px;
    border: 1px solid silver;
}

form .data input:focus{
    border-color: #ffffff;
    border-bottom-width: 2px;
}

form .zalog{
    margin: 30px 0;
    height: 45px;
    width: 100%;
}

form .zalog button{
    height: 100%;
    width: 100%;
    background: #000000;
    font-size: 18px;
    font-weight: 500;
    border: none;
    color:#ffffff;
    text-transform: uppercase;
    cursor: pointer;
    background-size: 200%;
    transition: all 0.6s;
}

.zalog button:hover{
    background-position: center;
}

.container .close-btn{
    align-self: flex-end;
    cursor: pointer;
}

.container .close-btn:hover{
    color: #FFFFFF;
}

#s1 {
    position: absolute;
    background: linear-gradient(180deg, rgba(71, 66, 66, 0) 0%, #000000 100%), url(11.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 520px;
    left: 0px;
    top: 80px;
}

#searchbar {
    position: absolute;
    width: 1351px;
    height: 94px;
    left: 284px;
    top: 375px;
    background: #726A6A;
    border-radius: 20px;
}

#search {
    position: absolute;
    width: 340px;
    height: 58px;
    left: 25px;
    top: 17px;
    border: none;
    border-radius: 20px;
    background: #D9D9D9;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}

#miasto {
position: absolute;
width: 340px;
height: 58px;
left: 390px;
top: 17px;
text-align: center;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
color: #000000;
background: #D9D9D9;
border-radius: 20px;
z-index: 900;
}

#data {
position: absolute;
width: 340px;
height: 58px;
left: 765px;
top: 17px;
text-align: center;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
color: #000000;
background: #D9D9D9;
border: none;
border-radius: 20px;
z-index: 900;
}

#submit {
    position: absolute;
    width: 200px;
    height: 58px;
    left: 1130px;
    top: 17px;
    background: #D9D9D9;
    border-radius: 20px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    color: #000000;
}

#s2 {
position: absolute;
width: 100%;
height: 822px;
left: 0px;
top: 600px;
background: linear-gradient(180deg, #000000 0%, #4A4A4A 100%);
}

#prop {
position: absolute;
left: 200px;
top: 100px;
font-family: 'Limelight';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 49px;
color: #ffffff;
}

#hr1 {
    position: absolute;
    width: 80%;
    height: 2px;
    left: 150px;
    top: 175px;
    background-color: #FFFFFF;
}

.carousel {
    margin-left: 175px;
    margin-top: 200px;
    width: 80%;
    height: 600px;
    .car {
        width: 100%;
        display: inline;
        animation: carousel-animation;
        & img {
            margin-inline-start: 50px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
    }
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 55%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

.next {
    right: 200px;
    border-radius: 3px 0 0 3px;
  }

.prev {
    left: 130px;
    border-radius: 3px 0 0 3px;
}

#s3 {
position: absolute;
width: 100%;
height: 492px;
left: 0px;
top: 1422px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%), url(image.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

#gatunki {
    position: absolute;
    left: 200px;
    top: 50px;
    font-family: 'Limelight';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #ffffff;
}

#s3div {
    width: 80%;
    margin-left: 80px;
    height: 400px;
    display: inline;
    #gen  {
        position: relative;
        margin-top: 125px;
        margin-left: 80px;
        margin-inline-start: 50px;
        width: calc(75%/4);
        height: 100px;
        background: rgba(154, 154, 154, 0.47);
        border-radius: 20px;
        font-family: 'Limelight';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 49px;
        color: #FFFFFF;
        }
    #gen2  {
        position: relative;
        margin-top: 75px;
        left: 80px;
        margin-inline-start: 50px;
        width: calc(75%/4);
        height: 100px;
        background: rgba(154, 154, 154, 0.47);
        border-radius: 20px;
        font-family: 'Limelight';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 49px;
        color: #FFFFFF;
        }   
}

#s4 {
position: absolute;
width: 100%;
height: 1638px;
left: 0px;
top: 1914px;
background: #000000;
}

#hr2 {
    position: absolute;
    width: 80%;
    height: 2px;
    left: 150px;
    top: 0px;
    background-color: #FFFFFF;
}

#galeria{
    width: 80%;
    height: 1000px;
    display: inline;
    object-fit: cover;
    img {
        width: calc(80%/3);
        margin-left: 0px;
        margin-top: 225px;
        margin-inline-start: 85px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, #000000 80%);
        border-radius: 20px;
        box-shadow: 10px 10px color(#1F1D1D);
        
    }
}

footer {
position: absolute;
width: 100%;
height: 302px;
left: 0px;
top: 3552px;
background: #2D2D2D;
}

